@import "../utils/variables";

.component-wrapper {
    .container {
        @include containerFn;
    }
    .brand {
        color: #ffffff;
        text-align: left;
    }
    .title {
        @include titleFn;
    }
    .subtitle {
        @include subtitleFn;
    }
    .main {
        @include mainFn;
    }
    .main-raised {
        @include mainRaisedFn;
    }
    .link {
        text-decoration: none;
    }
    .textCenter {
        text-align: center;
    }
}
