.grid-container {
    margin-right: -15px;
    margin-left: -15px;
    width: auto i !important;
    .grid-item {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        flex-basis: auto;
    }
}
