$drawerWidth: 260;
$transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
$responsive576: 576px;
$responsive768: 768px;
$responsive992: 992px;
$responsive1200: 1200px;

$primaryColor: #9c27b0;
$warningColor: #ff9800;
$dangerColor: #f44336;
$successColor: #4caf50;
$infoColor: #00acc1;
$roseColor: #e91e63;
$grayColor: #999999;

@mixin containerFluid {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@mixin container {
    @include containerFluid;
    @media (min-width: $responsive576) {
        max-width: 540px;
    }
    @media (min-width: $responsive768) {
        max-width: 720px;
    }
    @media (min-width: $responsive992) {
        max-width: 960px;
    }
    @media (min-width: $responsive1200) {
        max-width: 1140px;
    }
}

@mixin box-shadow {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@mixin card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

@mixin defaultFont {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

@mixin primaryBoxShadow {
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
        0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
@mixin infoBoxShadow {
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
        0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

@mixin successBoxShadow {
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
        0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

@mixin warningBoxShadow {
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
        0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

@mixin dangerBoxShadow {
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
        0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

@mixin roseBoxShadow {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}
@mixin warningCardHeader {
    color: #fff;
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    @include warningBoxShadow;
}
@mixin successCardHeader {
    color: #fff;
    background: linear-gradient(60deg, #66bb6a, #43a047);
    @include successBoxShadow;
}
@mixin dangerCardHeader {
    color: #fff;
    background: linear-gradient(60deg, #ef5350, #e53935);
    @include dangerBoxShadow;
}
@mixin infoCardHeader {
    color: #fff;
    background: linear-gradient(60deg, #26c6da, #00acc1);
    @include infoBoxShadow;
}
@mixin primaryCardHeader {
    color: #fff;
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    @include primaryBoxShadow;
}
@mixin roseCardHeader {
    color: #fff;
    background: linear-gradient(60deg, #ec407a, #d81b60);
    @include roseBoxShadow;
}

@mixin cardActions {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    height: auto;
    @include defaultFont;
}
